/bin/
/gen/
/.cache
/proguard_cache/
/proguard_cache_conf/proguard_postprocessed.conf
/libs/scala_library.min.jar
*.log
*.fuse_hidden*
*.class
.DS_Store

local.properties

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.history
.classpath
.settings
.project
.externalToolBuilders/

tmp/
/.target
target/
